{% extends 'base.html.twig' %}

{% block content %}

<section id="page-title" class="padding-top-15 padding-bottom-15 padding-left-15" >

    <h2>Education Category</h2>
    <div class="container-fluid container-fullw bg-white">
        <!-- start: PAGE TITLE -->
        <div class="col-md-9">

            <div class="panel panel-white no-radius">
                <div class="panel-heading">
                    <h5 class="panel-title">Education Category</h5>
                </div>
                <div class="container-fluid container-fullw">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover" id="sample_2">





        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ edCategory.id }}</td>
            </tr>
            <tr>
                <th>Edutitle</th>
                <td>{{ edCategory.eduTitle }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('edcategory_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('edcategory_edit', { 'id': edCategory.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
