{% extends 'Web/base1.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="container-fluid container-fullw bg-custom">

        <section id="page-title " class="padding-top-10 padding-bottom-15 padding-left-10 bg-white navbar-static-top" >
            <h2>Financial Plan | LOANS </h2>
        </section>

        <!-- start: PAGE TITLE -->
        <div class="col-md-12">



            <div class="container-fluid container-fullw">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="over-title margin-bottom-15"> <span class="text-bold">Personal/Housing/Business Loans</span></h5>
                        <div class="row">

                        </div>


                        {% for fin in plan %}


                            <div class="col-md-12">

                                <div class="panel panel-white" id="panel1">

                                    <div class="panel-heading">

                                        <h2 class="panel-title"><b>{{ fin.finTitle }}</b></h2>
                                    </div>


                                    <div class="fa-hover col-md-3 col-sm-4">
                                        <i class="ti-direction">  </i> {{ fin.finPlan}}</div><br>

                                    <div class="fa-hover col-md-3 col-sm-4">
                                        <i class="ti-map-alt">  </i>  {{ fin.finLocation.city }}
                                    </div><br>

                                    <div class="fa-hover col-md-3 col-sm-4">
                                        <i class="ti-flag-alt"> </i>

                                        {{ fin.finType.finType }}</div><br>



                                    <div class="panel-body">

                                        {{ fin.finDescription | length >50 ? fin.finDescription|slice(0, 50) ~ '...' : fin.finDescription  }}

                                    </div>

                                    <div class="panel-footer">
                                        <div class="fa-hover col-md-3 col-sm-4">Posted :
                                            <i class="ti-calendar"> </i> {{ fin.finCreatedAt |date("Y-m-d", "Asia/Kolkata") }} </div>

                                        <a href="{{ path('view_fin_detail', {'id': fin.id}) }}"  type="submit" class=""><span>View</span></a>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="navigation" align="right" >
                        {{ knp_pagination_render(plan) }}

                    </div>



                </div>
            </div>
        </div>
    </div>

    </section>


{% endblock %}

{% block javascripts %}

    {{ parent () }}
{% endblock %}