{% extends 'base.html.twig' %}

{% block content %}

<section id="page-title" class="padding-top-15 padding-bottom-15 padding-left-15" >

    <h2>Edit Job</h2>
    <div class="container-fluid container-fullw bg-white">
        <!-- start: PAGE TITLE -->
        <div class="col-md-9">

            <div class="panel panel-white no-radius">
                <div class="panel-heading">
                    <h5 class="panel-title">Joblist Edit</h5>
                </div>
                <div class="container-fluid container-fullw">
                    <div class="row">


                    </div>


                    <h1>Finlist edit</h1>

    {{ form_start(edit_form) }}
                    <div class="form-group">
                        <h5 class="text-bold margin-top-25 margin-bottom-15">
                            Title
                        </h5>
                        {{ form_widget(edit_form.finTitle, {'attr' : {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        <h5 class="text-bold margin-top-25 margin-bottom-15">
                            Description
                        </h5>
                        {{ form_widget(edit_form.finDescription, {'attr' : {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        <h5 class="text-bold margin-top-25 margin-bottom-15">
                            Location
                        </h5>
                        {{ form_widget(edit_form.finLocation, {'attr' : {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        <h5 class="text-bold margin-top-25 margin-bottom-15">
                            Plan
                        </h5>
                        {{ form_widget(edit_form.finPlan, {'attr' : {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        <h5 class="text-bold margin-top-25 margin-bottom-15">
                            Type
                        </h5>
                        {{ form_widget(edit_form.finType) }}
                    </div>



                    <div class="form-group">
                        <h5 class="text-bold margin-top-25 margin-bottom-15">
                            Added By
                        </h5>
                        {{ form_widget(edit_form.finAddedBy, {'attr' : {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        <h5 class="text-bold margin-top-25 margin-bottom-15">
                            Updated at
                        </h5>
                        {{ form_widget(edit_form.finCreatedAt) }}
                    </div>

                    <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('finlist_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Are you sure want to delete?  </h4>
                        </div>
                        <div class="modal-body">
                            <b>Continue to delete? <h2> Finance List ID No : {{ finList.id }}</h2></b>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary btn-o" data-dismiss="modal">
                                Cancel
                            </button>
                            <button type="submit" class="btn btn-danger">Delete</button>

                        </div>
                    </div>
                </div>
            </div>
            <!-- /Default Modal -->
            <div class="panel-footer" data-has-confirm-button="btn btn-primary btn-o pull-right" data-toggle="modal" data-target="#myModal">
                <span class="btn btn-danger">Delete</span></div>
            {{ form_end(delete_form) }}
        </li>
    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
