{% extends 'base.html.twig' %}

{% block content %}

<section id="page-title" class="padding-top-15 padding-bottom-15 padding-left-15" >

    <h2>Realities</h2>
    <div class="container-fluid container-fullw bg-white">
        <!-- start: PAGE TITLE -->
        <div class="col-md-9">

            <div class="panel panel-white no-radius">
                <div class="panel-heading">
                    <h5 class="panel-title">Real Category </h5>
                </div>
                <div class="container-fluid container-fullw">
                    <div class="row">


                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover" id="sample_2">



        <thead>
            <tr>
                <th>Id</th>
                <th>Realtitle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for realCategory in realCategories %}
            <tr>
                <td><a href="{{ path('realcategory_show', { 'id': realCategory.id }) }}">{{ realCategory.id }}</a></td>
                <td>{{ realCategory.realTitle }}</td>
                <td>
                    <ul>

                        <li>
                            <a href="{{ path('realcategory_edit', { 'id': realCategory.id }) }}" class="btn btn-light-azure">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('realcategory_new') }}" class="btn btn-success">Create a new </a>
        </li>
    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
