{% extends 'Web/base1.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}
{% block content %}
    <div class="container-fluid container-fullw bg-custom">

        <div class="row">
            <div class="col-md-12">
                {#<div class="search-classic">#}
                    {#<form action="#">#}
                        {#<div class="input-group well">#}
                            {#<input type="text" class="form-control" placeholder="">#}

                                {#<button class="btn btn-primary" type="button">#}
                                    {#<i class="fa fa-search"></i><a href="{{ path('search_it') }}">Search</a></button>#}

            {#</div>#}
                    {#</form>#}
                {#</div>#}

            </div>
        </div>


                    <section id="page-title " class="padding-top-10 padding-bottom-15 padding-left-10 bg-white navbar-static-top" >
        <h2>Recruitment | IT</h2>




    </section>

            <!-- start: PAGE TITLE -->
            <div class="col-md-12">



                <div class="container-fluid container-fullw">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="over-title margin-bottom-15"> <span class="text-bold">IT Jobs</span></h5>
                            <div class="row">

                            </div>


                            {% for tag in list %}


    <div class="col-md-12">

        <div class="panel panel-white" id="panel1">

            <div class="panel-heading">

                <h2 class="panel-title"><b>{{ tag.title }}</b></h2>
            </div>


                <div class="fa-hover col-md-3 col-sm-4">
                    <i class="ti-briefcase">  </i> {{ tag.openings }}</div><br>

                <div class="fa-hover col-md-3 col-sm-4">
                    <i class="ti-map-alt">  </i>  {{ tag.jobLocation.city }}
                    </div><br>

                    <div class="fa-hover col-md-3 col-sm-4">
                        <i class="ti-flag-alt"> </i>

                {% for sk in tag.skills %}
                    {{ sk.skillTitle }}, {% endfor %}</div><br>
            <div class="panel-body">
                    {{ tag.description  | length >50 ? tag.description|slice(0, 50) ~ '...' : tag.description  }}
                </div>

            <div class="panel-footer">

                <div class="fa-hover col-md-3 col-sm-4">Posted :
                    <i class="ti-calendar"> </i> {{ tag.createdAt |date("Y-m-d", "Asia/Kolkata") }} </div>



                {#{% if tag.isAddedByUser(app.getUser()) %}#}

                    <div class="btn-sm">




                    <a href="{{ path('view_detail', {'id': tag.id}) }}"  type="submit" class=""><span>View</span></a>



</div>

            </div>
        </div>
        <div>

        </div>
    </div>

                {% endfor %}
                        </div>

                        <div class="navigation" align="right" >
                            {{ knp_pagination_render(list) }}

                        </div>



                    </div>
                </div>
                </div>
            </div>


    </section>


{% endblock %}

{% block javascripts %}

{{ parent () }}
{% endblock %}