{% extends 'base.html.twig' %}

{% block content %}


<section id="page-title" class="padding-top-10 padding-bottom-15 padding-left-10" >
    <h2>Recruitment Sector</h2>
    <div class="container-fluid container-fullw bg-white">
        <!-- start: PAGE TITLE -->
        <div class="col-md-12">



            <div class="container-fluid container-fullw">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="over-title margin-bottom-15"> <span class="text-bold">Sector List</span></h5>
                        <div class="row">

                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped table-hover" id="sample_2">


    <h1>Sectors list</h1>


        <thead>
            <tr>
                <th>Id</th>
                <th>Tagtitle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td><a href="{{ path('tag_show', { 'id': tag.id }) }}">{{ tag.id }}</a></td>
                <td>{{ tag.tagTitle }}</td>
                <td>
                    <ul>

                        <li>
                            <a href="{{ path('tag_edit', { 'id': tag.id }) }}"class="btn btn-success">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tag_new') }}" class="btn btn-primary">Create a new tag</a>
        </li>
    </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
